/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 13px;
    float: left;
  } 
  /* Add an active class to highlight the current page */
  .topnav a.active {
    border-bottom: 1.5px solid rgb(214, 214, 214);
    color:black;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
hr{
    height:2px;
    width: 95%;
    color: grey;
    display: center;
}
.logohead{
    height: 60px;
}
.img-oliversacks{
    width: 95%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.img-socialmedia {
  max-width: 200px;
}

.img-oliversacks {
  max-width: 400px;
}

.container-img {
  float: left;
}

p {
  margin: 0;
}

p.lead {
  font-size: 20px;
}

article {
  margin: 0 200px 0 200px;
}

a {
  color: black;
}

.row {
  padding: 0 50px 0 50px;
}

.a-third {
  width: 33%;
  float: left;
}

.a-third img {
  width: 100%;
}

.a-third p {
  width: 100%;
  word-wrap: break-word;
}

#banner {
  position: fixed;
  width: 100%;
  background-color: white;
  text-align: center;
}

body {
  margin: 0;
}
